! == COLORS (https://github.com/xero/sourcerer/blob/master/sourcerer.Xresources) ==
*.foreground:   #c2c2b0
*.background:   #222222
*.cursorColor:  #c2c2b0
! black
*.color0:       #111111
*.color8:       #181818
! red
*.color1:       #aa4450
*.color9:       #ff6a6a
! green
*.color2:       #719611
*.color10:      #b1d631
! yellow
*.color3:       #cc8800
*.color11:      #ff9800
! blue
*.color4:       #6688aa
*.color12:      #90b0d1
! magenta
*.color5:       #8f6f8f
*.color13:      #8181a6
! cyan
*.color6:       #528b8b
*.color14:      #87ceeb
! white
*.color7:       #d3d3d3
*.color15:      #c1cdc1
! stylized
*.colorIT:      #719611
*.colorBD:      #d3d3d3
*.colorUL:      #528b8b

! == DPI SETTING ==
Xft.dpi:		96

! == URXVT ==
URxvt.geometry:    100x25
URxvt.font:		   xft:Envy\ Code\ R:size=10
URxvt*transparent: false

URxvt*depth: 32
URxvt*background: [89]#2d2d2d
URxvt*borderLess: false

URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

! == xscreensaver ==
xscreensaver.Dialog.foreground:        #ffffff
xscreensaver.Dialog.background:        #4c555d
xscreensaver.Dialog.topShadowColor:	   #4c555d
xscreensaver.Dialog.bottomShadowColor: #4c555d
xscreensaver.Dialog.borderWidth:       0

xscreensaver.Dialog.Button.foreground: #ffffff
xscreensaver.Dialog.Button.background: #2d2d2d

xscreensaver.Dialog.text.foreground: #ffffff
xscreensaver.Dialog.text.background: #2d2d2d

! == ROFI Color theme ==
rofi.separator-style: dash
rofi.color-enabled: true
rofi.color-window: #2d2d2d, #4c555d, #4c555d
rofi.color-normal: #2d2d2d, #d2d2d2, #2d2d2d, #d2d2d2, #2d2d2d
rofi.color-active: #6688aa, #d2d2d2, #6688aa, #87ceeb, #2d2d2d
rofi.color-urgent: #aa4450, #d2d2d2, #aa4450, #ff6a6a, #2d2d2d
